* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.main {
    width: 100%;
    height: 100vh;
    background-color: rgb(3, 3, 162);
}

.header {
    padding: 2% 6%;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.logo {
    flex: 1;
}

.logo h1 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -2px;
}

.logo span {
    color: rgb(14, 255, 54);
}

#menu li {
    display: inline;
    list-style: none;
    margin: 0 10px;
}

#menu li a {
    text-decoration: none;
    color: #fff;
}

.header .fa-solid {
    color: #fff;
    font-weight: 600;
    font-size: 22px;
}

.header .fa-bars,
.header .fa-xmark {
    display: none;
}

@media(max-width: 768px) {
    .header {
        flex-direction: column;
    }

    #menu {
        position: fixed;
        top: 0;
        right: -250px;
        width: 250px;
        height: 100vh;
        background-color: rgb(2, 2, 73);
        transition: 1s;
    }

    .logo {
        flex: 0;
    }

    #menu li {
        display: block;
        margin: 10px;
    }

    .header .fa-xmark {
        display: block;
        margin: 10px;
    }

    .header .fa-bars {
        display: inline-block;
        text-align: right;
    }
}